* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce7c0;
}

.container {
    width: 50%;
    height: 75vh;
    display: flex;
    align-items: baseline;
    box-shadow: 9px 9px 10px rgba(0, 0, 0, .212);
}

.logo img {
    display: flex;
    width: 8%;
    margin: 1rem 2rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.pagamento_box {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
}

.pagamento_box h2 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #979797;
}

.metodos_pagamento {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.metodo_pagamento {
    display: flex;
    align-items: center;
}

.metodo_pagamento input {
    margin-right: 0.5rem;
}

.payment-box {
    display: none;
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

.pagamento_box label {
    display: block;
    margin-bottom: 0.5rem;
    color: #979797;
}

.pagamento_box input[type="text"] {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffdea1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0000001c;
}

.pagamento_box input[type=month] {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffdea1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0000001c;
}

.pagamento_box input[type="text"]:focus-visible {
    outline: 1px solid #ffce74;
}

.pagamento_box input[type=month]:focus-visible {
    outline: 1px solid #ffce74;
}

.qr-code {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.qr-code img {
    max-width: 200px;
    height: auto;
}

.valor_total_box {
    margin-top: 2rem;
    text-align: center;
}

.valor_total_box h3 {
    font-size: 24px;
    color: #979797;
}

.compra_botao{
    align-self: center;
    margin-top: 1rem;
}

.compra_botao button{
    margin-top: 15px;
    border: none;
    background-color:#fdeed2 ;
    padding: 0.4rem 1.7rem;
    border-radius: 5px;
    cursor: pointer;

}

.compra_botao button:hover{
    background-color:#ffe3ae ;

}
.voltar{
    margin-left: 1rem;
}
.compra_botao a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;

}
/* Tornando a página responsiva */
@media screen and (max-width: 1300px){
    
    .container{
        width: 60%;
        height: auto;
    }

    .pagamento_box{
        width: 60%;
        height: auto;
    }
    .payment-box{
        width: 60%;
        height: auto;
    }

    .cadastro_box{
        width: 90%;
    }
    .salvar_button button{
        width: auto;
       
         }


}
@media screen and (max-width: 750px){
    .container{
        width: 90%;
        height: auto;
    }

    .pagamento_box{
        width: 90%;
        height: auto;
    }
    .payment-box{
        width: 90%;
        height: auto;
    }
    .all_input{
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 20rem;
        padding-right: 5rem;

    }
}
